<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5">
        
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Customers</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-user"></i>                                    </h2>
                                    
                                    <h2>{{totalCustomers}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-green order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Orders</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa fa-cart-plus f-left"></i>
                                    </h2>
                                    
                                    <h2>{{totalOrders}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Products</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-tag"></i>                                    </h2>
                                    
                                    <h2>{{totalProducts}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Offers</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-gift"></i>                    
                                    </h2>
                                    
                                    <h2>{{totalOffers}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-orange order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total profits</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-credit-card"></i>                                    </h2>
                                    
                                    <h2>{{totalProfits}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                
               
                
               
            </div>

        <div class="row justify-content-center">
            <div class="col-xl-5">
                <app-bar-chart [datalabels]="topOffers" label="top 5 offers" canvaid="offer"></app-bar-chart>

            </div>
            <div class="col-xl-5">
                <app-bar-chart [datalabels]="topProduct" label="top 5 product" canvaid="product"></app-bar-chart>

            </div>
        </div>
    </div>
</body>
</html>