.discount_3 {
  position: absolute;
  right: 10px;
  top: -6px;
  background-image: url(../../../assets/imges/discount_orange.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 47px;

  color: #FFF;
}
.category-container
{
  background-color: white;
  border: 20px gray;
  border-top: 2px solid rgb(199, 193, 193);
 /* height: 90%; */
}
.cards-container{
  width: 320px;
  height: 250px;
}
.card{
  height: 380px;
}
/* .img-fluid{
width: 150px;
height: 150px;
} */
.showAll{
  text-decoration: none;
  font-size: 23px;
}
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

@keyframes animatedBackground {

    from {background-size:contain}
  to   {background-size:cover}
  }

.testimonial-card .avatar {
  width: 96px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid rgb(235, 230, 236);
  border-radius: 50%;
  height: 187px;
}

/* new*/
