<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-list>
            <mat-list-item class="mb-2 list-item">
                <div class="d-flex">
                    <i class="fa-solid fa-user pe-2"></i>
                    <a routerLink=""> Analysis </a>
                </div>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Category">
                        <mat-option routerLink="ownerCategory">Owner</mat-option>
                        <mat-option routerLink="">Supplier</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <div class="d-flex">
            <i class="fa-solid fa-location-dot pe-2"></i>
            <a routerLink="adresses"></a>
          </div> -->
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>