

<div class="container">
  <form class="w-75 p-5 mt-5 mx-auto" [formGroup]='loginForm' (ngSubmit)="submitData()">
    
    <div *ngIf=" msg.length > 0 " class="alert alert-primary alert-dismissible fade show" role="alert">
      <button type="button" (click)="removemesage()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>{{msg}}</strong>
    </div>
    
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" formControlName="email" class="form-control"
        [class.is-invalid]="email?.errors && email?.touched" />
      <small *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)" class="text-danger">
        Email Is Required
      </small>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="email" formControlName="password" class="form-control"
        [class.is-invalid]="password?.errors && password?.touched" />
      <small *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)" class="text-danger">
        Password Is Required
      </small>
    </div>


    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    <div class="text-center">
      <p>Not a member? <a routerLink="/customerRegister">Register</a></p>
    </div>
  </form>
</div>