<div class="container">
  <div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-10 collapse card d-block mb-5 mt-2" style="background-color: #f4f5f7;">
      <div class="row">


        <div class="col-lg-4 col-md-4 col-sm-6 d-flex" *ngFor="let item of OwnerOffer">
          <div class="card mt-2 mb-2" style="width:400px">
            <img class="card-img-top" src="https://fakeimg.pl/300/" alt="Card image">

            <div class="card-body text-center">
              <h4 class="card-title font-weight-bold">{{item.name}}</h4>


              <h5 class="card-title font-weight-bold">{{item.description}}</h5>
              <!-- <h5 class="card-title font-weight-bold  text-danger">{{item.price}}EGP</h5> -->

              <div class="d-flex justify-content-between">
                <h5 class="small text-danger " style=" text-decoration-line: line-through"></h5>
                <h5 class="mb-0 text-danger">{{item.price}} EGP</h5>
              </div>

              <p><button class="buttoncard btn  btn-success" (click)="openModal()" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Offer Details</button></p>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-1">

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
