<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <app-banner Description="best Food Offer" Title="Restaurant"> </app-banner>

        </div>
      <div class="row justify-content-center mt-5">
           <div class="col-3">
            <app-owner-offers-filter></app-owner-offers-filter>
           </div>
           <div class="col-8">
            
           </div>

            

      </div>
    </div>
       
    
        

       

    

        
      
</body>
</html>