<div class="container">
    <div class="example-container mat-elevation-z8 p-2">
        <div>
          <h1 class="float-start">Supplier Divisions</h1>
          <button class="btn btn-success m-3 float-end" (click)="openModal()">Add [+]</button>
        </div>
        
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered py-3">
          <thead class="table-dark text-white">
            <tr>
              <th>Division No.</th>
              <th>Division Name</th>
              <th>Division Image</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let division of categories">
              <td>{{division.id}}</td>
              <td>{{division.name}}</td>
              <td style="text-align: center;"><img [src]="division.image" width="50" height="50" class="rounded-circle"></td>
              <td style="text-align: center;">
                <button mat-icon-button (click)="onUpdate(division)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(division.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
    </div>