<div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">        
      <div class="card testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient h-25">
            <img src="https://img.freepik.com/premium-photo/chicken-pork-beef-meat-skewers-with-vegetables-spicy-potatoes_52137-30827.jpg" class="img-fluid">
        </div>
        <div class="avatar mx-auto white">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQugZxo0PK3fADhEPA37fc2pWThFJjcZkeFUzzpDD8&s" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
       
        <div class="card-body text-center">
            <h4 class="card-title font-weight-bold">Chicken Alferado</h4>

            <div class="d-flex justify-content-between">
                <p class="small text-danger"><s>$1099</s></p>
                <h5 class="text-dark mb-0">$999</h5>
              </div>
    
             
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>
      
    </section>
  </div>

 