<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Menu
    </ng-template>
    <app-owner-menu></app-owner-menu>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Offers
    </ng-template>
    <p>owner-product works!</p>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Reviews
    </ng-template>
    <app-ownerreview></app-ownerreview>
  </mat-tab>

</mat-tab-group>
