
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
        Menu
      </ng-template>
      <p>owner-product works!</p>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Offers
      </ng-template>
      <p>owner-product works!</p>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
       Reviews  
      </ng-template>
      <p>owner-product works!</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
         Info  
        </ng-template>
    
        Content 3
      </mat-tab>
  </mat-tab-group>
  